@font-face {
  font-family: "Gothic_alpha_font";
  src: url("gothic-alpha-font.ttf") format("truetype");
}

@font-face {
  font-family: "Gothic im Spiel";
  src: url("gothic-im-spiel.ttf") format("truetype");
}

@font-face {
  font-family: "TeXGyreChorus";
  src: url("tex-gyre-chorus.otf") format("opentype");
}

@font-face {
  font-family: "Flat Brush";
  src: url("flat-brush.ttf") format("truetype");
}
